body {
  background-image: url(../bgImage/blue-curve-background/rm222batch2-mind-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-atas {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.navbar-atas .monthlyButton {
  color: white;
  margin-right: -5em;
  z-index: 1;
  background: linear-gradient(180deg, rgb(37, 52, 160) 15%, rgb(37, 118, 160) 40%, rgb(37, 153, 160) 65%, rgb(20, 255, 243) 90%);
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
}
.navbar-atas .dailyButton {
  color: black;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
}
.navbar-atas button {
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 50px;
}

.button-collapse {
  background: linear-gradient(180deg, rgb(37, 52, 160) 15%, rgb(37, 118, 160) 40%, rgb(37, 153, 160) 65%, rgb(20, 255, 243) 90%);
  border: none;
  width: 150px;
}

.button-collapse:active {
  opacity: 0.9;
}

/* Tombol Bulan */
.bulan {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.bulan button {
  margin-right: 1em;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 40px;
  border: none;
  background-color: transparent;
}

/* Hari */
.hari {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
.hari p {
  font-size: 20px;
  padding-top: 1em;
}

.garis {
  background-color: black;
  width: 100%;
  height: 0.1em;
}

.tanggal {
  margin: 1em;
  display: flex;
  justify-content: space-around;
}
.tanggal.pertama button:last-child {
  color: red;
}
.tanggal.kedua button:last-child {
  color: red;
}
.tanggal.ketiga button:last-child {
  color: red;
}
.tanggal.keempat button:last-child {
  color: red;
}
.tanggal button {
  font-weight: bold;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(180deg, rgb(37, 52, 160) 15%, rgb(37, 118, 160) 40%, rgb(37, 153, 160) 65%, rgb(20, 255, 243) 90%);
}
.tanggal .hilang {
  opacity: 0;
  cursor: default;
}

.app {
  margin-top: 1em;
}
.app .fa-plus {
  margin-left: 1em;
  padding: 5px;
  border-radius: 50px;
  margin-left: 0.5em;
  color: green;
  background: linear-gradient(259deg, rgb(240, 247, 181) 20%, rgb(212, 246, 188) 51%, rgb(206, 241, 195) 80%);
}
.app #addNew {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(37, 52, 160) 15%, rgb(37, 118, 160) 40%, rgb(37, 153, 160) 65%, rgb(20, 255, 243) 90%);
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  color: white;
}
.app #addNew:hover {
  opacity: 0.9;
}

.app h5 {
  color: black;
}
.app h5:nth-child(1) {
  color: white;
}
.app p {
  color: white;
}
.app .btn-close:hover {
  background-color: red;
}
.app form {
  background-color: rgba(0, 0, 0, 0.8);
}
.app form .modal-content {
  background: linear-gradient(180deg, rgb(37, 52, 160) 15%, rgb(37, 118, 160) 40%, rgb(37, 153, 160) 65%, rgb(20, 255, 243) 90%);
}

#tasks {
  display: grid;
}
#tasks p {
  color: rgb(250, 250, 250);
  margin-left: 1em;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#tasks div {
  border: 3px solid;
  background: linear-gradient(180deg, rgb(37, 52, 160) 15%, rgb(37, 118, 160) 40%, rgb(37, 153, 160) 65%, rgb(20, 255, 243) 90%);
  border-radius: 6px;
  margin: 1em;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

.app {
  margin: 1em auto;
  background-color: #fff;
  width: 300px;
  height: 400px;
  border: 5px solid rgba(33, 237, 240, 0.6901960784);
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

#tasks div .options i {
  display: flex;
  cursor: pointer;
}

.fw-bold {
  font-size: 20px;
  text-align: center;
  color: rgb(250, 250, 250);
}

.text-secondary {
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin-left: 1em;
}

#textinput {
  color: red;
}

#msg {
  color: red;
}

.text-secondary {
  border: 3px solid black;
  border-radius: 5px;
  width: 90%;
  padding: 0.5em;
  background: linear-gradient(259deg, rgb(245, 247, 222) 20%, rgb(239, 240, 238) 51%, rgb(224, 236, 220) 80%);
}

.footer .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9.3em;
}
.footer .container-fluid a {
  text-decoration: none;
}
.footer .container-fluid p {
  font-size: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-collapse {
    margin-left: 30%;
    margin-top: 1em;
  }
  .bulan {
    display: grid;
  }
  .bulan button {
    font-size: 15px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button-collapse {
    margin-left: 45%;
    margin-top: 1em;
  }
  .bulan {
    display: grid;
  }
  .bulan button {
    font-size: 15px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button-collapse {
    margin-left: 42%;
    margin-top: 1em;
  }
  .bulan {
    display: grid;
  }
  .bulan button {
    font-size: 15px;
  }
  /* Hari */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .button-collapse {
    margin-left: 42%;
    margin-top: 1em;
  }
  .bulan {
    position: relative;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .bulan button {
    font-size: 15px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button-collapse {
    margin-left: 46%;
    margin-top: 1em;
  }
  .bulan {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .bulan button {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */