body {
  background-image: linear-gradient(180deg, #f32424 11.23%, rgba(36, 243, 57, 0.8) 51.3%, rgba(243, 197, 36, 0.8) 86.46%);
  background-repeat: no-repeat;
  background-size: cover;
}

@import 'modules/navbar-atas';
@import 'modules/tombol-bulan';
@import 'modules/hari';
@import 'modules/garis';
@import 'modules/tanggal';
@import 'modules/tombol-kegiatan+';
@import 'modules/editKegiatan';
@import 'modules/footer';
