body {
  background-image: url(../bgImage/blue-curve-background/rm222batch2-mind-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@import 'modules/navbar-atas';
@import 'modules/tombol-bulan';
@import 'modules/hari';
@import 'modules/garis';
@import 'modules/tanggal';
@import 'modules/taskStyle';
@import 'modules/formsstyle';
@import 'modules/newtask';
@import 'modules/footer';
@import 'modules/mediaquerry';
