// tambah kegiatan
.aktifitas {
  display: none;
}
.tambah-kegiatan {
  padding: 0.5em;
  background-color: red;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  // edit button
  .edit {
    margin-right: 0.5em;
    border: none;
    border-radius: 3px;
  }

  // minus Button
  .minus {
    margin-left: 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #38cab0;
    display: flex;
    justify-content: center;
    align-items: center;
    .garisHorizontal {
      width: 50%;
      height: 3px;
      background-color: white;
    }
  }
}
