.footer {
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.3em;

    a {
      text-decoration: none;
    }
    p {
      font-size: 1em;
    }
  }
}
