.app {
  h5 {
    color: black;
    &:nth-child(1) {
      color: white;
    }
  }
  p {
    color: white;
  }
  .btn-close:hover {
    background-color: red;
  }
  form {
    background-color: rgba(0, 0, 0, 0.8);
    .modal-content {
      background: $primaryrainbow;
    }
  }
}
