// Tanggal
.tanggal {
  margin: 1em;
  display: flex;
  justify-content: space-around;
  &.pertama button:last-child {
    color: red;
  }
  &.kedua button:last-child {
    color: red;
  }
  &.ketiga button:last-child {
    color: red;
  }
  &.keempat button:last-child {
    color: red;
  }
  button {
    // border: none;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: none;
    background: $primaryrainbow;
  }
  .hilang {
    opacity: 0;
    cursor: default;
  }
}
