.app {
  margin-top: 1em;
  .fa-plus {
    margin-left: 1em;
    padding: 5px;
    border-radius: 50px;
    margin-left: 0.5em;
    color: green;
    background: linear-gradient(259deg, rgba(240, 247, 181, 1) 20%, rgba(212, 246, 188, 1) 51%, rgba(206, 241, 195, 1) 80%);
  }
  #addNew {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, rgba(37, 52, 160, 1) 15%, rgba(37, 118, 160, 1) 40%, rgba(37, 153, 160, 1) 65%, rgba(20, 255, 243, 1) 90%);
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    &:hover {
      opacity: 0.9;
    }
  }
}
