/* Tombol Bulan */
.bulan {
  margin-top: 1em;
  //   background-color: red;
  display: flex;
  justify-content: center;

  button {
    margin-right: 1em;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
}
