// tombol tambah Kegiatan
.kegiatan {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    margin: 0.2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    background-color: #38cab0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .garisHorizontal {
      width: 50%;
      height: 3px;
      background-color: white;
    }
    .garisVertical {
      position: absolute;
      height: 2%;
      width: 3px;
      background-color: white;
    }
  }
}
